:root {
  --primary-color: #040404;
  --secondary-color: #f8f8f8;
  --main-font: "LEMON MILK", sans-serif;
  --body-font: "Lato", sans-serif;
}


body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 48px;
  line-height: 100px;
}

p {
  font-family: var(--body-font);
  font-size: 25px;
  line-height: 45px;
}

a {
  font-weight: 300;
  font-size: 30px;
  position: relative;
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

a:hover {
  color: var(--secondary-color);
  font-size: 35px;
}

nav {
  margin-top: 30px;
  right: 7.5%;
}

ul {
  list-style: none;
  padding: 0;
}
nav li {
  display: inline;
  padding-left: 75px;
}

nav a:hover {
  font-size: 30px;
}

nav a.active {
  text-decoration: line-through;
}

#logo-img {
  width: 110px;
  margin-top: -20%;
}

h4 {
  font-weight: 300;
  margin-top: 5%;
  font-size: 40px;
}
.highlighted {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 20px 2px 20px;
  font-weight: 500;
  font-size: 56px;
}
.mini-highlighted {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 20px 2px 20px;
  font-weight: 500;
  font-size: 40px;
}

.circle {
  background: var(--secondary-color);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  margin-top: 15%;
}

/*? HOME PAGE ?*/
#pre-save {
  padding-left: 10%;
}

.btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
.btn-primary-outline {
  font-weight: 400 !important;
  font-size: 30px;
  padding: 10px 40px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  left: 10%;
}
.btn-primary-outline:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: none;
}

.tiny-circles {
  background: #f8f8f8;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
#circle-one {
  height: 250px;
  width: 250px;
  top: 23%;
  left: -18%;
}
#circle-two {
  height: 175px;
  width: 175px;
  top: 10%;
  right: 10%;
}
#circle-three {
  height: 150px;
  width: 150px;
  bottom: 0%;
  right: 5%;
}

.guitar-grooves {
  top: 20%;
  right: 9%;
  height: 80%;
}

/*? ABOUT PAGE ?*/
#about-title {
  position: relative;
  margin-left: 10%;
  top: 15%;
}
.about-words {
  padding: 10%;
}

.te-singing {
  padding: 15%;
}

/*? SHOWS PAGE ?*/
#upcoming {
  padding-left: 10%;
}

.chill-guitar {
  top: 20%;
  right: 18%;
  height: 80%;
  width: 200% !important;
}
.chill-shadow {
  top: 21%;
  right: 15%;
  height: 80%;
  opacity: 0.9;
  width: 200% !important;
}

.show-dates {
  margin-top: 10%;
}

/*? MUSIC PAGE ?*/
.music-content {
  text-align: center;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-top: 4%;
}
.songs {
  font-size: 30px;
  text-align: center;
  position: relative;
  left: 14%;
}
.song-title {
  font-weight: 500;
  text-align: left;
}
.music-logo {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 15%;
}
.stream-count {
  font-weight: 300;
}

/*? STREAMS PAGE ?*/
#stream-title {
  text-align: center;
}
.stream-dates {
  padding: 5%;
}
.stream-content {
  text-align: center;
  margin: 0 auto;
}
.right {
  text-align: right;
}


/*? SHOP PAGE ?*/
#shop-title {
  text-align: center;
  margin-top: 18%;
}

/*? CONTACT PAGE ?*/
.pearls {
  top: 15%;
  right: 19%;
  height: 85%;
}