:root {
  --primary-color: #040404;
  --secondary-color: #f8f8f8;
  --title-font: "Lemon/Milk", sans-serif;
  --accent-font: "Lemon/Milk light", sans-serif;
  --body-font: "Lato", sans-serif;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--title-font);
}

p {
  font-family: var(--body-font);
  font-size: 25px;
  line-height: 45px;
}

a {
  font-family: var(--accent-font);
}

nav {
  margin-top: 30px;
  right: 4%;
}

ul {
  list-style: none;
  padding: 0;
}
nav li {
  display: inline;
  padding-left: 75px;
}
nav a {
  text-decoration: none;
  font-family: var(--accent-font);
  font-size: 30px;
  transition: all 100ms ease-in-out;
  position: relative;
}
nav a.active {
  text-decoration: line-through;
}

#logo-img {
  width: 110px;
  margin-top: -20%;
}

h4 {
  font-family: var(--accent-font);
  margin-top: 4%;
  font-size: 40px;
}
.highlighted {
  background: var(--secondary-color);
  color: var(--primary-color);
  padding: 2px 20px 2px 20px;
  font-size: 56px;
}

/*? HOME PAGE ?*/
#pre-save {
  padding-left: 10%;
}

.btn {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
.btn-primary-outline {
  left: 10%;
  font-size: 30px;
  padding: 10px 40px;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}
.btn-primary-outline:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: none;
}

#circle {
  background: var(--secondary-color);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  margin-top: 20%;
}
.tiny-circles {
  background: #f8f8f8;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
}
#circle-one {
  height: 250px;
  width: 250px;
  top: 23%;
  left: -18%;
}
#circle-two {
  height: 175px;
  width: 175px;
  top: 10%;
  right: 10%;
}
#circle-three {
  height: 150px;
  width: 150px;
  bottom: 0%;
  right: 5%;
}

.guitar-grooves {
  top: 20%;
  right: 9%;
  height: 80%;
}

/*? ABOUT PAGE ?*/
#about-title {
  position: relative;
  top: 15%;
  margin-left: 10%;
}
.about-words {
  padding: 10%;
}

.te-singing {
  padding: 15%;
}

/*? SHOWS PAGE ?*/
.chill-guitar {
  top: 20%;
  right: 18%;
  height: 80%;
  width: 200% !important;
}
.chill-shadow {
  top: 21%;
  right: 15%;
  height: 80%;
  width: 200% !important;
}

/*? MUSIC PAGE ?*/
#released-title {
  text-align: center;
  margin-top: 5%;
}
.songs:first-child {
  margin-top: 5%;
}
.songs {
  position: relative;
  text-align: center;
  left: 14%;
  font-family: var(--accent-font);
  font-size: 30px;
}
.song-title {
  text-align: left;
}
.music-logo {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding-right: 5%;
}

/*? SHOP PAGE ?*/
#shop-title {
  text-align: center;
  margin-top: 18%;
}